.interior01-template-08 {
  position: relative;
  display: flex;
  padding: 11.09375vw 4.84375vw 9.59375vw;
  font-family: "Lato", "NotoSansCJKtc";
}
.interior01-template-08 .left {
  width: 12.916vw;
  margin-right: 7.083vw;
  padding-top: 2.604167vw;
  border-top: 1px solid #787777;
}
.interior01-template-08 .left .title {
  font-size: 3.75vw;
  color: #000000;
  margin-bottom: 1.614583vw;
  overflow: hidden;
  line-height: 1.15;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.interior01-template-08 .left .text {
  font-size: 1.25vw;
  font-weight: bold;
  color: #000000;
  letter-spacing: 1.2px;
  overflow: hidden;
  line-height: 1.15;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.interior01-template-08 .right {
  display: flex;
  width: calc(100% - 12.916vw);
}
.interior01-template-08 .right .wrap {
  position: relative;
  width: 17.135417vw;
  margin-right: 2.864583vw;
  transition: 0.5s ease;
  pointer-events: initial;
  cursor: pointer;
  transition: 0.5s ease;
}
.interior01-template-08 .right .wrap:hover {
  width: 27.395vw;
  transition: 0.5s ease;
}
.interior01-template-08 .right .wrap:hover .title_item {
  padding: 2.1875vw 0 3.54166vw;
  border-color: #e84644;
  transition: 0.5s ease;
}
.interior01-template-08 .right .wrap:hover .num {
  font-size: 3.75vw;
  transition: 0.5s ease;
}
.interior01-template-08 .right .wrap:hover .text_wrap .more_btn {
  opacity: 1;
  transition: 0.5s ease;
}
.interior01-template-08 .right .wrap:hover .img_item img {
  transition: 0.5s ease;
  box-shadow: -12.7px 14.1px 38px 0 rgba(0, 0, 0, 0.5);
}
.interior01-template-08 .right .wrap:hover .box {
  transition: 0.5s ease;
  height: 42.84375vw;
}
.interior01-template-08 .right .wrap:hover .box.active {
  transition: 0.5s ease;
  height: 10.416vw;
}
.interior01-template-08 .right .wrap:last-child {
  margin-right: 0px;
}
.interior01-template-08 .right .wrap:last-child::before {
  display: none;
}
.interior01-template-08 .right .wrap:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  right: -1.302083vw;
  background: #787777;
  opacity: 0.5;
}
.interior01-template-08 .right .wrap .box {
  transition: 0.5s ease;
  height: 32.864vw;
  overflow: hidden;
}
.interior01-template-08 .right .wrap .box.active {
  height: 7.8125vw;
  transition: 0.5s ease;
}
.interior01-template-08 .right .wrap .box .img_item img {
  box-shadow: none;
}
.interior01-template-08 .right .title_item {
  padding: 2.1875vw 0 5.208vw;
  border-top: 5px solid #000000;
  transition: 0.5s ease;
}
.interior01-template-08 .right .title_item .num {
  font-size: 1.9791666667vw;
  color: #171010;
  font-weight: bold;
  margin-bottom: 20px;
  transition: 0.5s ease;
}
.interior01-template-08 .right .title_item .title {
  font-size: 1.25vw;
  color: #000000;
  font-weight: bold;
  letter-spacing: 0.48px;
  transition: 0.5s ease;
  overflow: hidden;
  line-height: 1.15;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.interior01-template-08 .right .text_wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.77vw;
}
.interior01-template-08 .right .text_wrap .item {
  width: 80%;
}
.interior01-template-08 .right .text_wrap .date {
  font-size: 0.9375vw;
  letter-spacing: 0.36px;
  color: #787777;
  margin-bottom: 9px;
  overflow: hidden;
  line-height: 1.15;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.interior01-template-08 .right .text_wrap .text {
  width: 80%;
  font-size: 0.9375vw;
  letter-spacing: 0.36px;
  color: #787777;
  overflow: hidden;
  line-height: 1.15;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.interior01-template-08 .right .text_wrap .more_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #000000;
  text-decoration: none;
  opacity: 0;
  transition: 0.5s ease;
}
.interior01-template-08 .right .text_wrap .more_btn .icon {
  -webkit-mask: url("../img/noun-arrow.svg") no-repeat;
  -webkit-mask-size: contain;
  background-color: #000000;
  width: 1.2vw;
  height: 0.9333vw;
  margin-left: 18px;
}
.interior01-template-08 .right .img_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.5s ease;
  vertical-align: middle;
}
.interior01-template-08 .circle_wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 4.84375vw;
  top: 17.96875vw;
  z-index: 3;
}
.interior01-template-08 .circle_wrap .cir_1 {
  position: relative;
  bottom: 5.20833vw;
}

@media (max-width: 1100px) {
  .interior01-template-08 .left {
    width: 17.916vw;
  }
  .interior01-template-08 .left .text {
    font-size: 2.1818181818vw;
  }
  .interior01-template-08 .right .wrap {
    width: 19.135417vw;
    margin-right: 4.864583vw;
  }
  .interior01-template-08 .right .wrap:hover {
    width: 22.395vw;
  }
  .interior01-template-08 .right .wrap:hover .box {
    height: 38.84375vw;
  }
  .interior01-template-08 .right .wrap:hover .box.active {
    height: 12.416vw;
  }
  .interior01-template-08 .right .wrap::before {
    right: -2.302083vw;
  }
  .interior01-template-08 .right .wrap .box {
    height: 35.864vw;
  }
  .interior01-template-08 .right .wrap .box.active {
    height: 13.8125vw;
  }
  .interior01-template-08 .right .title_item .num {
    font-size: 3.4545454545vw;
  }
  .interior01-template-08 .right .title_item .title {
    font-size: 1.9090909091vw;
  }
  .interior01-template-08 .right .text_wrap .date {
    font-size: 1.6363636364vw;
  }
  .interior01-template-08 .right .text_wrap .text {
    font-size: 1.6363636364vw;
  }
  .interior01-template-08 .right .text_wrap .more_btn .icon {
    width: 16px;
    height: 14px;
    margin-left: 12px;
  }
}
@media (max-width: 700px) {
  .interior01-template-08 {
    padding: 11.09375vw 40px;
    flex-direction: column;
    overflow: hidden;
  }
  .interior01-template-08 .left {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 4.604167vw;
  }
  .interior01-template-08 .left .title {
    font-size: 30px;
  }
  .interior01-template-08 .left .title br {
    display: none;
  }
  .interior01-template-08 .left .text {
    font-size: 18px;
  }
  .interior01-template-08 .right {
    width: 100%;
    flex-wrap: wrap;
    display: none;
  }
  .interior01-template-08 .right .wrap {
    width: 100%;
    margin-right: 0;
  }
  .interior01-template-08 .right .wrap:hover {
    width: 100%;
  }
  .interior01-template-08 .right .wrap:hover .title_item {
    padding: 3.1875vw 0 5.208vw;
  }
  .interior01-template-08 .right .wrap:hover .num {
    font-size: 5.4285714286vw;
  }
  .interior01-template-08 .right .wrap:hover .box {
    height: 50%;
  }
  .interior01-template-08 .right .wrap:hover .box.active {
    height: 50%;
  }
  .interior01-template-08 .right .wrap::before {
    display: none;
  }
  .interior01-template-08 .right .wrap .box {
    height: 50%;
  }
  .interior01-template-08 .right .wrap .box.active {
    height: 50%;
  }
  .interior01-template-08 .right .title_item {
    padding: 3.1875vw 0 5.208vw;
  }
  .interior01-template-08 .right .title_item .num {
    font-size: 5.4285714286vw;
  }
  .interior01-template-08 .right .title_item .title {
    font-size: 3.4285714286vw;
  }
  .interior01-template-08 .right .text_wrap .date {
    font-size: 2.5714285714vw;
  }
  .interior01-template-08 .right .text_wrap .text {
    font-size: 2.5714285714vw;
  }
  .interior01-template-08 .right .text_wrap .more_btn .icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }
  .interior01-template-08 .mobile_swiper .wrap {
    position: relative;
    width: 100%;
  }
  .interior01-template-08 .mobile_swiper .title_item {
    border-top: 5px solid #000000;
    padding: 7.1875vw 0 7.208vw;
  }
  .interior01-template-08 .mobile_swiper .title_item .num {
    font-size: 36px;
    color: #171010;
    font-weight: bold;
    margin-bottom: 20px;
    transition: 0.5s ease;
  }
  .interior01-template-08 .mobile_swiper .title_item .title {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    letter-spacing: 0.48px;
    transition: 0.5s ease;
    overflow: hidden;
    line-height: 1.15;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .interior01-template-08 .mobile_swiper .text_wrap {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 3.77vw;
  }
  .interior01-template-08 .mobile_swiper .text_wrap .item {
    width: 50%;
  }
  .interior01-template-08 .mobile_swiper .text_wrap .date {
    font-size: 14px;
    letter-spacing: 0.36px;
    color: #787777;
    margin-bottom: 9px;
    overflow: hidden;
    line-height: 1.15;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .interior01-template-08 .mobile_swiper .text_wrap .text {
    font-size: 14px;
    letter-spacing: 0.36px;
    color: #787777;
    margin-bottom: 9px;
    overflow: hidden;
    line-height: 1.15;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .interior01-template-08 .mobile_swiper .text_wrap .more_btn {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #000000;
    text-decoration: none;
  }
  .interior01-template-08 .mobile_swiper .text_wrap .more_btn .icon {
    width: 18px;
    height: 14px;
    margin-left: 10px;
    -webkit-mask: url("../img/noun-arrow.svg") no-repeat;
    -webkit-mask-size: contain;
    background-color: #000000;
  }
  .interior01-template-08 .mobile_swiper .img_item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    transition: 0.5s ease;
  }
  .interior01-template-08 .mobile_swiper .swiper-pagination {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  .interior01-template-08 .mobile_swiper .swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
    background: #e84644;
  }
  .interior01-template-08 .circle_wrap {
    right: 0;
    left: auto;
    z-index: 1;
  }
}
@media (min-width: 701px) {
  .mobile_swiper {
    display: none;
  }
}/*# sourceMappingURL=08.css.map */